:root {
    --color-primary: #0073ff;
    --color-white: white;
    --color-green: #a6bd88;
    --color-black-1: #212b38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.menu_bar {
    background-color: var(--color-green);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 30px;
}

.menu_bar ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 